<div id="navigation" class="nav-container">
  <div class="top-nav" id="home"><a href="{{ site.url }}">Phoebe Bednar Schmidt</a></div>
  <div class="nav-button" id="resume"><a href="{{ site.url }}resume">resume</a></div>
  <div class="nav-button" id="about"><a href="{{ site.url }}about">about</a></div>
  <div class="nav-button" id="projects"><a href="{{ site.url }}projects">projects</a></div>
  <div class="nav-button" id="work"><a href="{{ site.url }}work">work</a></div>
  <div class="nav-button" id="goals"><a href="{{ site.url }}goals">goals</a></div>
</div>
