body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h3 {
  font-family: "Times New Roman";
}
.top-nav {
  flex-grow: 2;
  font-style: italic;
  font-size: 24px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 10px;
  height: 10vh;

  /* flex child */
  flex-grow: 1;
}

.nav-button {
  flex-grow: 1;

  background-color: white;
  text-decoration: none;
  border: none;
  text-align: center;
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 14px;
}

a {
  color:inherit;
  text-decoration: none;
}

 .content-statement {
   padding-left: 10px;
   padding-top: 20px;
   font-family: "Times New Roman";
   font-size: 14px;

   /* flex child */
   flex-grow: 1;
}

.real-link {
  text-decoration: underline;
}

.resume {
  width: 100%;
  height: 100%;
  padding-right: 10px;
}

.resume-container {
  width: 100vw;
  height: 100vh;
}

.warning {
  font-size: 24px;
  font-family: "Times New Roman";
}

.last-updated {
  float: right;
  font-family: "Times New Roman";
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about-text {
  flex-grow: 1;
}

.snake-container {
  flex-grow: 1;
}
